# Сборка
build/
bin/
obj/

# Библиотеки (мы не пушим их код, так как их можно скачать заново)

third_party/*

!third_party/spdlog/
!third_party/crow/

# Временные файлы компилятора и системы
*.o
*.out
.DS_Store
