# Сборка: игнорируем всё, что создает CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Бинарники
SmashCore

# Секреты и конфиги (ВАЖНО!)
.env
config.json

# Временные файлы редакторов
.vscode/
.idea/
*.swp
